<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
   
 
    <connectionStrings>
      <add name="MyDB" 
        connectionString="workstation id=IspahaniAgroLTD.mssql.somee.com;packet size=4096;user id=irteza08;pwd=hasan3050;data source=IspahaniAgroLTD.mssql.somee.com;persist security info=False;initial catalog=IspahaniAgroLTD" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    
   <!--
      
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>-->
    
  </system.web>
</configuration>